<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ftc.wechat.roll.dao.WechatRollNumberDao" >
  <resultMap id="BaseResultMap" type="com.ftc.wechat.roll.pojo.WechatRollNumber" >
    <id column="number_id" property="numberId" jdbcType="INTEGER" />
    <result column="number_from" property="numberFrom" jdbcType="VARCHAR" />
    <result column="number_userid" property="numberUserid" jdbcType="INTEGER" />
    <result column="number_count" property="numberCount" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="NumberAmtResultMap" type="com.ftc.wechat.roll.pojo.WechatRollNumber" >
    <result column="numberAmt" property="numberAmt" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    number_id, number_from, number_userid, number_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wechat_roll_number
    where number_id = #{numberId,jdbcType=INTEGER}
  </select>
  
   <select id="getNumberCount" resultMap="NumberAmtResultMap" parameterType="java.lang.Integer" >
    select sum(number_count) as numberAmt
    from wechat_roll_number
    where number_userid = #{numberUserid,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wechat_roll_number
    where number_id = #{numberId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ftc.wechat.roll.pojo.WechatRollNumber" >
    insert into wechat_roll_number (number_id, number_from, number_userid, 
      number_count)
    values (#{numberId,jdbcType=INTEGER}, #{numberFrom,jdbcType=VARCHAR}, #{numberUserid,jdbcType=INTEGER}, 
      #{numberCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ftc.wechat.roll.pojo.WechatRollNumber" >
    insert into wechat_roll_number
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="numberId != null" >
        number_id,
      </if>
      <if test="numberFrom != null" >
        number_from,
      </if>
      <if test="numberUserid != null" >
        number_userid,
      </if>
      <if test="numberCount != null" >
        number_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="numberId != null" >
        #{numberId,jdbcType=INTEGER},
      </if>
      <if test="numberFrom != null" >
        #{numberFrom,jdbcType=VARCHAR},
      </if>
      <if test="numberUserid != null" >
        #{numberUserid,jdbcType=INTEGER},
      </if>
      <if test="numberCount != null" >
        #{numberCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ftc.wechat.roll.pojo.WechatRollNumber" >
    update wechat_roll_number
    <set >
      <if test="numberFrom != null" >
        number_from = #{numberFrom,jdbcType=VARCHAR},
      </if>
      <if test="numberUserid != null" >
        number_userid = #{numberUserid,jdbcType=INTEGER},
      </if>
      <if test="numberCount != null" >
        number_count = #{numberCount,jdbcType=INTEGER},
      </if>
    </set>
    where number_id = #{numberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ftc.wechat.roll.pojo.WechatRollNumber" >
    update wechat_roll_number
    set number_from = #{numberFrom,jdbcType=VARCHAR},
      number_userid = #{numberUserid,jdbcType=INTEGER},
      number_count = #{numberCount,jdbcType=INTEGER}
    where number_id = #{numberId,jdbcType=INTEGER}
  </update>
</mapper>